@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 80.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{

    margin-left: 80px;
    margin-top: 80px;

}

main{
    display: flex;
}
h1{

      justify-content: center;
}
.form_section{
    width: 400px;
    background: #f6f6f6;
    padding: 30px;
    color: #0f265c;
    margin-top: 20px;
    border-radius: 4px;

}
h4{
    font-size: 14px ;

}

.controls{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px;
    border-color: black;
}

.botons{
    width: 75%;
    margin-top: 5px;
    border: none;
    height: 24px;
    color: white;
    background-color: #0c1f50;
    margin: 8px 0;
    border-radius: 4px;
}
img{
    height: 50%;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
}



