<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>Modulo de Reprtes</title>
</head>
<body>
<h1>Registro de cuentas</h1>

<main class="content sombra ">
<div>


<section class="form_section" >
<form method="post" action="/eliminar">
    <h4>Ingrese el periodo que desea  eliminar:</h4>
    <div>
        <input class="controls" type="text" name="periodo" required >
        <input class="botons"  name="cuenta" value="Eliminar"  type="submit">
    </div>
</form>
</section>




<section class="form_section" >
<form  method="post" action="/input_data">

    <h4>Registrar de Cuenta</h4>

    <div>
        <label>Numero de cuenta</label>


    </div>
    <input class="controls" name="periodo" id="id" type="text" required>
    <label> Dinero</label>
    <input class="controls" name="precio" type="text" required>

    <div>


    </div>
    <div>
        <input class="botons" type="submit" value="Añadir Cuenta" id="">

    </div>

</form>

</section>

<section class="form_section" >



<div>
    <form method="post" action="/actualizarData" >
        <h4>Tabla de Cuentas</h4>
        <div>
            <label> Periodo</label>
            <label> Ingresos</label>
        </div>
        {% for  dato in datos %}

            <div>
                <input  type="text" name="periodo" value="{{ dato[1] }}">
                <input  type="text" name="precio" value="{{ dato[2] }}">
            </div>
        {% endfor %}
        <input class="botons" type="submit" value="Actualizar Datos" >

    </form>
</div>

</section>
</div>
<div >
    <body>
  <img src="/imagen" alt="reporte">
</body>
</div>




</main>


<script>



            function agregarInputs() {
                // Crear los inputs
                var input1 = document.createElement("input");
                var input2 = document.createElement("input");

                // Agregar los inputs al formulario
                document.getElementById("mi_formulario").appendChild(input1);
                document.getElementById("mi_formulario").appendChild(input2);
            }

            // Asignar la función a un botón




</script>

</body>
</html>


